
<div class="container-fluid footer bg-success text-center text-light position-absolute bottom-0 end-150" style="height:60px">
    <p class="my-3">Thank you for visiting!</p>
</div>
</body>
</html>